html {
    background-color: rgb(0, 0, 0);
}

#videoBG {
    object-fit: cover;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

.my-logo {
    height: 100px;
    margin-bottom: 0;
    margin-left: 1%;
}


header {
    display: flex;
    justify-content: space-between;
}

.navbar {
    font-size: 22px;
    font-family: Spartan;
    color: white;
    border-bottom: 1px solid white;
    margin-right: 4%;
    margin-top: 4%;
}

.menuitem {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.intro-text {
    color: white;
    font-family: Spartan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.intro {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 1%;
    padding: 0px;
}

 .first-name, .last-name, .hello, .intro-description {
    display: flex;
    justify-content: end;
     margin: 0.5px;
     width: 510px;
     text-align: right;
 }

 .first-name, .last-name, .intro-description {
     border-left: 3px dashed white;
     border-right: 3px dashed white;
     padding: 10px;
 }

 .hello {
     font-size: 16px;
 }

 .first-name {
     font-size: 70px;
 }

 .last-name {
     font-size: 60px;
 }

 .intro-description {
    border-bottom: 3px dashed white;
    text-align: center;
 }

 #jop {
margin: 0px;
padding: 0px;
height:300px;
 }


.social-media {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
    margin-bottom: 2%;
}

.slogo {
    height: 40px;
    padding: 9;
}

#Resume {
    height: 600px;
}

#fadeResume {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  
  #lightResume {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
    z-index: 1002;
    overflow: visible;
  }
  
  #boxcloseResume {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
  }
  
  .boxcloseResume:before {
    content: "×";
  }
  
  #fadeResume:hover ~ #boxcloseResume {
    display:none;
  }

/*.me-image {
    height: 50px;
}


.me-exclamation {
    margin-top: 100px;
}

.me-items {
    display: flex;
    flex-direction: column;
}
*/

.buttom-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.break-line {
    border-bottom: 1px solid white;
    padding: 20px;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
}



/* My works image styles */

/* Top */

.works-title {
    margin-top: 220px;
    color: white;
    font-family: Spartan;
    text-align: center;
}

.my-works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 4%;
    grid-gap: 50px;
    justify-items: center;
}

.project-title {
    display: flex;
    justify-content: center;
    font-family: Spartan;
    color: rgb(255, 255, 255);
}

.project-description {
    margin: 20px;
    margin-bottom: 20px;
    font-family: Spartan;
    max-height: 80px;
    min-height: 80px;;
    color: white;
}

.image {
    position: relative;
    width: 370px;
    height: 450px;
    background-color: rgb(0, 0, 0);
    border-radius: 10%;
    border: 4px rgb(172, 168, 168) solid;
    font-size: 12px;
}

.image__img {
    display: block;
    height: 50%;
    width: 100%;
    border-radius: 10%;
}


/* img Overlay */

.image__overlay {
    border-radius: 8% 8% 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 86%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: Spartan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: #12192ce3;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}


/* Work Icons */

.icons-work{
    background: #12192c;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
    border-radius: 0 0 30px 30px;
    justify-content: space-evenly;
}


/* Video Pop-up */

#VisaChipCardVideo {
    height: 600px;
}

#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  
  #light {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
    z-index: 1002;
    overflow: visible;
  }
  
  #boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
  }
  
  .boxclose:before {
    content: "×";
  }
  
  #fade:hover ~ #boxclose {
    display:none;
  }
  

  /* About me section */

  .about-title {
    margin-top: 200px;
    color: white;
    font-family: Spartan;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');



#about {
    background-color: rgba(255, 255, 255, 0.075);
    margin: 5% 10% 5%;
}

.about-wrapper{
    height: 100vh;
}
.about-left{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color:#fff
}
.about-left-content > div{
    background: #12192c59;
    padding: 1rem 4rem 2.5rem 5rem;
    text-align: center;
    border-radius: 12px 12px 0 0;
}
.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    border-radius: 12px;
    width:70%;
}
.about-img .jop-glasses{
    display: block;
    width: 200px;;
    height: auto;
}
.about-img{
    width: 200px;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.about-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #00fff2;
}
.about-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}


.icons{
    background: #12192c;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
    border-radius: 0 0 12px 12px;
}
.icons li{
    list-style-type: none;
    background: #00fff2;
    color: rgb(0, 0, 0);
    font-family: Spartan;
    font-weight: 900;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    transition: all 0.5s ease-in-out;
}
.icons li:hover{
    background: #edffec;
    color: #000;
}
.about-right{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
    color:#fff
}

.about-right-content {
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
    border-radius: 12px;
}
.about-right h1{
    font-size: 4rem;
    font-family: Spartan;
    text-transform: uppercase;
}
.about-right h1 span{
    color: #00fff2;
}
.about-right h2{
    font-weight: 600;
}
.about-btns{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
.btn{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
    color:#fff
}
.btn.btn-pink{
    background: #0a0535;
    color: #fff;
    border-color: #0a0535;
    transition: all 0.5s ease-in-out;
}
.btn.btn-pink:hover{
    background: transparent;
    border-color: #fff;
    color: #fff;
}
.btn.btn-white{
    transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover{
    background: #0a0535;
    border-color: #0a0535;
    color: #fff;
}
.about-para p{
    font-family: Spartan;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    padding: 0.5rem;
    opacity: 0.8;
}

@media screen and (min-width: 992px){
    .about-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .about-left{
        position: relative;
    }
    .about-left-content{
        position: absolute;
        width:80%
    
    }
} 


/* Contact Form */

.popup {
    position: fixed;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    font-family: Spartan;
    transition: top 0ms ease-in-out 200ms,
                opacity 0ms ease-in-out 0ms,
                transform 0ms ease-in-out 0ms;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.25);
    transition: top 0ms ease-in-out 0ms,
                opacity 0ms ease-in-out 0ms,
                transform 0ms ease-in-out 0ms;
}


.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form .form-title {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .form .form-element {
    margin: 15px 0px;
}

.popup .form .form-element label {
    font-size: 14px;
    color: #222;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element textarea[type="text"],
.popup .form .form-element input[type="email"] {
    resize:vertical;
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element .submit-form {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 15px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

 /*back to top button */

 #myBtn {
    height: 15px;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(255, 255, 255); /* Set a background color */
    color: rgb(0, 0, 0); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: rgb(44, 162, 241); /* Add a dark-grey background on hover */
  }


  /* Media Queries */

  /*Iphone Portrait */

  /* Home Screen */
  
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

    html {
        background: rgb(61,116,3);
background: linear-gradient(90deg, rgba(61,116,3,1) 0%, rgba(0,0,0,1) 71%, rgba(61,116,3,1) 100%);
    }
    
    #videoBG {
        display: none;
    }


  .my-logo {
    height: 30px;
    margin-bottom: 0;
    margin-left: 1%;
}


header {
    display: flex;
    justify-content: space-between;
}

.navbar {
    font-size: 7px;
    font-family: Spartan;
    color: white;
    border-bottom: 1px solid white;
    margin-right: 4%;
    margin-top: 4%;
}

.menuitem {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.intro-text {
    color: white;
    font-family: Spartan;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    margin-top: 15%;
    margin-bottom: 1%;
    margin-left: 15%;
    padding: 0px;
}

 .first-name, .last-name, .hello, .intro-description {
    display: flex;
    justify-content: center;
     margin: 0.5px;
     width: 250px;
     height: 20px;
     text-align: right;
 }

 .first-name, .last-name, .intro-description {
     border-left: 0px dashed white;
     border-right: 0px dashed white;
     padding: 10px;
 }

 .hello {
     display: none;
 }

 .first-name {
     font-size: 25px;
 }

 .last-name {
     font-size: 17px;
 }

 .intro-description {
    border-bottom: 0 dashed white;
    text-align: center;
    width: 250px;
    font-size: 9px;
 }

 #jop {
padding: 0px;
height:150px;
width: 150px;
margin-left: 25%;
margin-top: 10%;
 }


.social-media {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
}

.slogo {
    height: 20px;
    padding: 9;
}


/* Work screen */

.works-title {
    margin-top: 100px;
    color: white;
    font-family: Spartan;
    text-align: center;
    font-size: 20px;
}

.my-works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 4%;
    grid-gap: 50px;
    justify-items: center;
}

.project-title {
    display: flex;
    justify-content: center;
    font-family: Spartan;
    color: rgb(255, 255, 255);
    font-size: 8px;
}

.Angular {
    font-size: 7px;
}

.project-description {
    display: none;
}

.image {
    position: relative;
    width: 110px;
    height: 150px;
    background-color: rgb(0, 0, 0);
    border-radius: 10%;
    border: 4px rgb(172, 168, 168) solid;
    font-size: 6px;
}

.image__img {
    display: block;
    height: 50%;
    width: 100%;
    border-radius: 10%;
}


/* img Overlay */

.image__overlay {
    border-radius: 8% 8% 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 67%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: Spartan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: #12192ce3;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover, .image__overlay:active {
    opacity: 1;
}

.image__overlay:hover, .image__overlay:active > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}


.icons-work{
    background: #12192c;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
    border-radius: 0 0 3px 3px;
    justify-content: space-evenly;
}

/* Contact-Form */

.popup {
    position: fixed;
    top: -150%;
    left: 45%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 180px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    font-family: Spartan;
    transition: top 0ms ease-in-out 200ms,
                opacity 0ms ease-in-out 0ms,
                transform 0ms ease-in-out 0ms;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.25);
    transition: top 0ms ease-in-out 0ms,
                opacity 0ms ease-in-out 0ms,
                transform 0ms ease-in-out 0ms;
}


.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form .form-title {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .form .form-element {
    margin: 15px 0px;
}

.popup .form .form-element label {
    font-size: 14px;
    color: #222;
}

.form {
    margin-right: 20px;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="email"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element .submit-form {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 15px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}


/* pop-up video */

#VisaChipCardVideo {
    height: 450px;
}

#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  
  #light {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -315px;
    margin-top: -300px;
    z-index: 1002;
    overflow: visible;
  }
  
  #boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
  }
  
  .boxclose:before {
    content: "×";
  }
  
  #fade:hover ~ #boxclose {
    display:none;
  }
}